<div class="container">
    <div class="col-lg-12 col-md-12">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
       
            {% if adherent is not null %}
            
                <div class="widget-user-header bg-info">
                    <h3 class="widget-user-username">{{adherent.lastname}}</h3>
                    <h5 class="widget-user-desc">{{adherent.firstname}}</h5>
                </div>
                <div class="widget-user-image">
                    {% if adherent.avatar is null %}
                        <img class="profile-user-img img-fluid" src="{{asset('uploads/avatarAdherent/default.png')}}" alt="User profile picture">
                    {% else %}
                        <img class="profile-user-img img-fluid" src="{{asset('uploads/avatarAdherent/' ~ adherent.avatar)}}" alt="User profile picture">
                        
                    {% endif %}
                    
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">Numéro Affiliation</h5>
                                <span class="description-text">{{adherent.affiliateNumber}}</span>
                            </div>
                            {# <div class="description-block">
                                <div class="form-group">
                                    </br>
                                    <button class="newMedecine btn btn-primary">+ Médicament</button>
                                </div>
                            </div> #}
                        <!-- /.description-block -->
                        </div>
                    <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">Etablissement</h5>
                                <span class="description-text">{{adherent.establishment.name}}</span>
                            </div>
                        <!-- /.description-block -->
                        </div>
                    <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">Date de Naissance</h5>
                                <span class="description-text">{{adherent.birthday|date('d-F-Y')}}</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    <!-- /.col -->
                    </div>
                <hr>
            {% endif %}
                <div class="row">
                {% if adherent is not null %}
                    <form name="add_medecines" method="post" id="add_medecines_forms" action={{path('consultation.add',{'id': adherent.id})}} >
                        <input type="hidden" name="adherent" value="{{adherent.id}}">
                {% else %}
                <div class="card-header ">
                    <h3 class="card-title ">
                        <center>Ajouter consultation simple</center>
                    </h3>
                </div>
                <div class="card-footer">
                    <form name="add_medecines" method="post" id="add_medecines_forms" action={{path('consultation.add.simple')}}>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label for="">Nom</label>
                                    <input type="Text" class="form-control" name="name" required>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label for="">Prénom</label>
                                    <input type="text" class="form-control" name="firstname" required>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <label for="">Age</label>
                                    <input type="number" value="0" class="form-control" name="age" required>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <label for="">Sexe</label>
                                    <select name="gender" id="" class="form-control">
                                        <option value="femme">Femme</option>
                                        <option value="homme">Homme</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        {# <div class="form-group">
                            </br>
                            <button class="newMedecine btn btn-primary">+ Médicament</button>
                        </div> #}
                        {% endif %}

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="">Type</label>
                                    <select name="typeConsultation" id="typeConsultation" class="form-control">
                                        <option>Type de consultation</option>
                                        <option value="Consultation Simple">Consultation Simple</option>
                                        {# <option value="Accident de Travail">Accident de Travail</option> #}
                                        <option value="Maladie Professionnelle">Maladie Professionnelle</option>
                                        <option value="Activité de dentisterie">Activité de dentisterie</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    
                                    <label for="">Diagnostique</label>
                                    <select class="form-control" id="diagnostic" name="diagnostic" required>
                                        <option value="" disabled selected>Diagnostique</option>
                                    </select>

                                    
                                </div>
                            </div>
                        </div>
                        <div class="row" id="diagnosticDescription" name="diagnosticDescription">
                            
                            
                        </div>

                        <div class="row">

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="">Description</label>
                                   <textarea name="description" id="consultation_description" ></textarea>
                                </div>
                            </div>

                        </div>

                        <div class="description-block">
                            <div class="form-group">
                                </br>
                                <a class="newMedecine btn btn-primary">+ Médicament</a>
                            </div>
                        </div>

                        <div id="prescriptionForm" style="border: 1px;">
                            <div class="row">
                                <div class="col-lg-5 col-md-5">
                                    <div class="form-group">
                                        <label for="">Médicament</label>
                                        <select name="drugName[]" id="drugSelect" class="form-control drugSelect">
                                        {% for drug in drugs %}
                                            <option value="{{drug.id}}">{{drug.name}}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="">Nombre de jour(s) de prise</label>
                                        <input type="number" value="0" class="form-control" name="day[]" required>
                                    </div>
                                </div>

                                <div class="col-lg-1 col-md-1">
                                    <div class="form-group">
                                        <label for="">Matin</label>
                                        <input type="text" value="0" class="form-control" name="morning[]" required>
                                    </div>
                                </div>

                                <div class="col-lg-1 col-md-1">
                                    <div class="form-group">
                                        <label for="">Midi</label>
                                        <input type="text" value="0" class="form-control" name="noon[]" required>
                                    </div>
                                </div>

                                <div class="col-lg-1 col-md-1">
                                    <div class="form-group">
                                        <label for="">Soir</label>
                                        <input type="text" value="0" class="form-control" name="evening[]" required>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1">
                                    <div class="form-group">
                                        <label for="">Total</label>
                                        <input type="number" value="0" class="form-control" name="sum[]" required>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div id="content">
                            
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <button type="submit" class="btn btn-info" name="b_print" onclick="printdiv('demo');">
                                    Ajouter Consultation
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.row -->
            </div>
        </div>
            <!-- /.widget-user -->
    </div>
    <div class="row">
        

        <div class="col-lg-9 col-md-9">
            <div class="form-group">
                
                
            </div>
        </div>
    </div>

</div>