{{form_start(formProfessionnalSick)}}

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formProfessionnalSick.characteristic) }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formProfessionnalSick.circumstance) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formProfessionnalSick.agent) }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formProfessionnalSick.dayOffNumber) }}
        </div>
    </div>
</div>

<div class="row"> 
    {% if editMode %}
        <div class="col-lg-6">
            <button type="submit" class="btn btn-success btn-block">Modifier</button>
        </div>
    {% else %}
        <div class="col-lg-6">
            <button type="submit" class="btn btn-info btn-block">Ajouter</button>
        </div>
    {% endif %}
    
    <div class="col-lg-6">
	    <button type="reset" class="btn btn-default btn-block">Reseter</button>
    </div>
</div>

{{form_end(formProfessionnalSick)}}