{% extends 'admin/base.html.twig' %}

{% block title %}Hello PositionController!{% endblock %}
{% block stylesheets %}
    <style>
        info-box .info-box-text, .info-box .progress-description {
                white-space: normal;
                flex-wrap: nowrap;
        }
    </style>
{% endblock %}

{% block body %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Bilan </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card ">
    <div class="card-header">
        {# <h3 class="card-title">
            <center>Listes des bilans de chaque sociétés</center>
        </h3> #}
        {% include "admin/appraisal/components/_formSearch.html.twig" %}

    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="container-fluid">
            {# {% set times = decode_json(render(controller('App\\Controller\\admin\\AppraisalController::groupMonthPerConsultation' , {'society' : establishement} ))) %} #}
            <!-- Timelime example  -->
            <div>    
                <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill"
                            href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home"
                            aria-selected="true">Consultations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill"
                            href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile"
                            aria-selected="false">Activités de dentisterie</a>
                    </li>
                </ul>
            </div>
            <br>
            <div class="tab-content" id="custom-content-above-tabContent">
                <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel"
                    aria-labelledby="custom-content-above-home-tab">
                    <div> 
                        {# link_consultation #}
                        <a href="{{path('appraisal.export.consultation')}}" class="btn btn-primary"><span class="fas fa-file-excel"></span> Exporter en csv</a></br> </br> 
                        {# <a href="{{'link_consultation'}}" class="btn btn-primary"><span class="fas fa-file-excel"></span> Exporter en csv</a></br> </br>  #}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- The time line -->
                            <div class="timeline">
                                <!-- timeline time label -->
                                <div class="time-label">

                                    <span class="bg-red">
                                        {{ render(controller('App\\Controller\\admin\\AppraisalController::returnDate' , {'today' : monthToday} )) }}
                                        {{yearsToday}}
                                    </span>

                                </div>
                                <!-- /.timeline-label -->

                                <!-- timeline item -->
                                {% for diagnosticList in diagnosticLists %}

                                <div>
                                    <div class="time-label">
                                        <span class="bg-green">{{diagnosticList.name}}</span>
                                    </div>
                                    <div class="timeline-item">
                                        {# <span class="time"><i class="fas fa-clock"></i> 12:05</span> #}
                                        <h3 class="timeline-header"><a href="#">
                                                {{ render(controller('App\\Controller\\admin\\AppraisalController::countConsultationPerDiagnostic' , 
                                        {'diagnostic' : diagnosticList , 'years' : yearsToday , 'month' : monthToday} )) }}
                                            </a>

                                            consultation au total pour le mois de "
                                            {{ render(controller('App\\Controller\\admin\\AppraisalController::returnDate' , {'today' : monthToday} )) }}
                                            {{yearsToday}} "
                                        </h3>

                                        <div class="timeline-body">
                                            <div class="row">
                                                <div class="col-lg-8 col-md-8">
                                                    {# {{ render(controller('App\\Controller\\admin\\AppraisalController::countConsultationPerAgeMale' , 
                                        {'diagnostic' : diagnosticList , 'years' : yearsToday , 'month' : monthToday} )) }} #}
                                        
                                                    {% set informationMale = decode_json(render(controller('App\\Controller\\admin\\AppraisalController::countConsultationPerAgeMale' , 
                                        {'diagnostic' : diagnosticList , 'years' : yearsToday , 'month' : monthToday} ))) %}

                                                    {% set informationFemale = decode_json(render(controller('App\\Controller\\admin\\AppraisalController::countConsultationPerAgeFemale' , 
                                        {'diagnostic' : diagnosticList , 'years' : yearsToday , 'month' : monthToday} ))) %}

                                                    {# <pre>
                                            {{ dump(informationMale) }}
                                        </pre>    #}
                                                    <table id="listDrug" class="table table-bordered table-striped"
                                                        widht="100%">
                                                        <thead>
                                                            <th colspan="2">0-28 j</th>
                                                            <th colspan="2">29-59 j</th>
                                                            <th colspan="2">2-11 m</th>
                                                            <th colspan="2">1-4 ans</th>
                                                            <th colspan="2">5-14 ans</th>
                                                            <th colspan="2">15-24 ans</th>
                                                            <th colspan="2">25-59 ans</th>
                                                            <th colspan="2">+60 ans</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>H</td>
                                                                <td>F</td>
                                                                <td>H</td>
                                                                <td>F</td>
                                                                <td>H</td>
                                                                <td>F</td>
                                                                <td>H</td>
                                                                <td>F</td>
                                                                <td>H</td>
                                                                <td>F</td>
                                                                <td>H</td>
                                                                <td>F</td>
                                                                <td>H</td>
                                                                <td>F</td>
                                                                <td>H</td>
                                                                <td>F</td>
                                                            </tr>
                                                            <tr>
                                                                <td>{{ informationMale[0]['firstDays'] }}</td>
                                                                <td>{{ informationFemale[0]['firstDays'] }}</td>
                                                                <td>{{informationMale[0]['secondDays']}}</td>
                                                                <td>{{informationFemale[0]['secondDays']}}</td>
                                                                <td>{{informationMale[0]['firstMonths']}}</td>
                                                                <td>{{informationFemale[0]['firstMonths']}}</td>
                                                                <td>{{informationMale[0]['firstYears']}}</td>
                                                                <td>{{informationFemale[0]['firstYears']}}</td>
                                                                <td>{{informationMale[0]['secondYears']}}</td>
                                                                <td>{{informationFemale[0]['secondYears']}}</td>
                                                                <td>{{informationMale[0]['thirdYears']}}</td>
                                                                <td>{{informationFemale[0]['thirdYears']}}</td>
                                                                <td>{{informationMale[0]['fourthYears']}}</td>
                                                                <td>{{informationFemale[0]['fourthYears']}}</td>
                                                                <td>{{informationMale[0]['fiftyYears']}}</td>
                                                                <td>{{informationFemale[0]['fiftyYears']}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">Bilan
                                                                {{yearsToday}} {{diagnosticList.name}}</span>
                                                            <span class="info-box-number text-center text-muted mb-0">
                                                                {{ render(controller('App\\Controller\\admin\\AppraisalController::countConsultationPerDiagnosticYears' , 
                                                    {'diagnostic' : diagnosticList , 'years' : yearsToday} )) }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        {# <div class="timeline-footer">
                                    <a class="btn btn-primary btn-sm">Read more</a>
                                    <a class="btn btn-danger btn-sm">Delete</a>
                                </div> #}
                                    </div>
                                </div>

                                {% endfor %}
                                <!-- END timeline item -->

                            </div>
                        </div>
                        <!-- /.col -->

                    </div>

                </div>

                <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                    
                    <div> 
                        <a href="{{path('appraisal.export.toothcare')}}" class="btn btn-primary"><span class="fas fa-file-excel"></span> Exporter en csv</a></br> </br> 
                    </div>

                     <div class="row">
                        <div class="col-md-12">
                            <!-- The time line -->
                            <div class="timeline">
                                <!-- timeline time label -->
                                <div class="time-label">

                                    <span class="bg-red">
                                        {{ render(controller('App\\Controller\\admin\\AppraisalController::returnDate' , {'today' : monthToday} )) }}
                                        {{yearsToday}}
                                    </span>

                                </div>
                                <!-- /.timeline-label -->

                                <!-- timeline item -->
                                {% for toothCareList in toothCareLists %}

                                <div>
                                    <div class="time-label">
                                        <span class="bg-green">{{toothCareList.name}}</span>
                                    </div>
                                    <div class="timeline-item">
                                        {# <span class="time"><i class="fas fa-clock"></i> 12:05</span> #}
                                        <h3 class="timeline-header"><a href="#">
                                                {# {{ render(controller('App\\Controller\\admin\\AppraisalController::countConsultationPerToothCare' , 
                                        {'toothcare' : toothCareList , 'years' : yearsToday , 'month' : monthToday} )) }} #}
                                        {{render(controller('App\\Controller\\admin\\AppraisalController::countConsultationPerToothCare' , 
                                        {'toothcare' : toothCareList , 'years' : yearsToday , 'month' : monthToday } ))}}
                                            </a>
                                       
                                            consultation au total pour le mois de "
                                            {{ render(controller('App\\Controller\\admin\\AppraisalController::returnDate' , {'today' : monthToday} )) }}
                                            {{yearsToday}} " 
                                        </h3>

                                        <div class="timeline-body">
                                            <div class="row">
                                                <div class="col-lg-8 col-md-8">
                                                    
                                                     {% set informationToothCare = decode_json(render(controller('App\\Controller\\admin\\AppraisalController::countConsultationToothCarePerAge' , 
                                        {'toothcare' : toothCareList , 'years' : yearsToday , 'month' : monthToday} ))) %} 

                                                    {# <pre>
                                            {{ dump(informationFemale) }}
                                        </pre>    #}
                                                    <table id="listDrug" class="table table-bordered table-striped"
                                                        widht="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td> >15 ans </td>
                                                                <td> Plus de 15 ans </td>
                                                            </tr>
                                                            <tr>
                                                                <td>{{informationToothCare[0]['firstYears']}}</td>
                                                                <td>{{informationToothCare[0]['secondYears']}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">Bilan
                                                                {{yearsToday}} {{toothCareList.name}}</span>
                                                            <span class="info-box-number text-center text-muted mb-0">
                                                                {{ render(controller('App\\Controller\\admin\\AppraisalController::countConsultationPerToothCareYears' , 
                                                    {'toothcare' : toothCareList , 'years' : yearsToday} )) }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        {# <div class="timeline-footer">
                                    <a class="btn btn-primary btn-sm">Read more</a>
                                    <a class="btn btn-danger btn-sm">Delete</a>
                                </div> #}
                                    </div>
                                </div>

                                {% endfor %}
                                <!-- END timeline item -->

                            </div>
                        </div>
                        <!-- /.col -->

                    </div>

                </div>



            </div>
        </div>
        <!-- /.timeline -->

    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}
{% block javascripts %}
{{ include('admin/components/block/blockjs.datatable.html.twig', { 'table_id': 'listDrug', 'targets': 5 }) }}
{# {{ include('admin/block/blockjs.datatable.html.twig', { 'table_id': 'listPositions', 'targets': 4 }) }} #}
{% endblock %}