{% extends 'admin/base.html.twig' %}

{% block title %}Hello PositionController!{% endblock %}

{% block body %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item active">historiques médicaments</li>
                </ol>
            </div>
            {# <div class="col-sm-6">
                <span class="breadcrumb float-sm-right">
                    <a href="{{path('drugstore.add')}}" class="float-right btn btn-primary">Ajouter nouveaux médicamanents</a>
                </span>
            </div> #}
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card ">
    <div class="card-header">
        <h3 class="card-title">
            {# <center>Historiques de médicaments {{ render(controller('App\\Controller\\admin\\AppraisalController::returnDate' , {'today' : monthToday} )) }} {{yearsToday}} </center> #}
        </h3><br>
        <hr>
         {% include "admin/appraisal/components/_formSearch.html.twig" %}
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="card-header">
            <h3 class="card-title">
                <center>Inventaire pour ce mois</center>
            </h3>
        </div>
        
        <table id="listDrug" class="table table-bordered table-striped" widht="100%">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th colspan="1">Entrés</th>
                    <th colspan="1">Sorties</th>
                    <th colspan="1">Stock</th>
                </tr>
            </thead>
            <tbody>
                {% for drug in drugLists %}
                    {% set inventory = decode_json( render(controller('App\\Controller\\admin\\DrugStoreController::countEnterDrugInventory' , 
                                        {'drug' : drug , 'years' : yearsToday , 'month' : monthToday} ))) %}
                    {% set inventoryOut = decode_json( render(controller('App\\Controller\\admin\\DrugStoreController::countOutDrugInventory' , 
                                        {'drug' : drug , 'years' : yearsToday , 'month' : monthToday} ))) %}
                    <tr>
                       <td>{{drug.name}}</td>
                       <td>{{inventory['boxEnter']}}  </td>
                       {# <td>{{inventory['boxEnter']}}  boîtes</td> #}
                       {# <td>{{inventory['tabletEnter']}} plaquêttes</td> #}
                       <td>{{inventoryOut['boxOut']}}  </td>
                       {# <td>{{inventoryOut['boxOut']}}  boîtes</td> #}
                       {# <td>{{inventoryOut['tabletOut']}} plaquêttes</td> #}
                       <td>{{drug.quantity}} </td>
                       {# <td>{{drug.tabletquantity}} plaquêttes</td> #}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}
{% block javascripts %}
    {{ include('admin/components/block/blockjs.datatable.html.twig', { 'table_id': 'listDrug', 'targets': 3 }) }}
{# {{ include('admin/block/blockjs.datatable.html.twig', { 'table_id': 'listPositions', 'targets': 4 }) }} #}
{% endblock %}


