{% extends 'admin/base.html.twig' %}

{% block title %}Hello PositionController!{% endblock %}

{% block body %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item active">listes médicaments</li>
                </ol>
            </div>
            <div class="col-sm-3">
                <span class="breadcrumb float-sm-right">
                    <a href="{{path('drugstore.simple.bring')}}" class="float-right btn btn-primary">Sorties médicaments</a>
                </span>
            </div>
            <div class="col-sm-3">
                <span class="breadcrumb float-sm-right">
                    <a href="{{path('drugstore.add')}}" class="float-right btn btn-primary">Ajouter nouveaux médicaments</a>
                </span>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card ">
    <div class="card-header">
        <h3 class="card-title">
            <center>Listes des médicamanents disponibles</center>
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="listDrug" class="table table-bordered table-striped" widht="100%">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Quantités</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for drug in drugLists %}
                    <tr>
                        <td>{{drug.name}}</td>
                        <td>{{drug.type}}</td>
                        {# <td>{{drug.quantity}} {{drug.measure}}</td> #}
                        <td>{{drug.quantity}}</td>
                        <td>
                            <a href="{{path('drugstore.edit' , {"id":drug.id})}}" class="btn btn-rounded btn-success" data-toggle="tooltip" data-placement="bottom">
                                <i class="m-r-10 fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}
{% block javascripts %}
    {{ include('admin/components/block/blockjs.datatable.html.twig', { 'table_id': 'listDrug', 'targets': 3 }) }}
{# {{ include('admin/block/blockjs.datatable.html.twig', { 'table_id': 'listPositions', 'targets': 4 }) }} #}
{% endblock %}


