{% extends 'admin/base.html.twig' %}

{% block title %}Hello PositionController!
{% endblock %}
{% block stylesheets %}
    <style>
        .select2-container .select2-selection--single {
            width:100% !important;
            height: 37px;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice{
            background-color: #007bff;
        }
    </style>
{% endblock %}
{% block body %}
	<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                {% if adherent is null %}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{{path('consultation.list')}}">listes des consultation</a></li>
                        <li class="breadcrumb-item active">nouveaux consultation</li>
                    </ol>
                {% else %}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{{path('adherent.list')}}">listes des adhérents</a></li>
                        <li class="breadcrumb-item active">nouveaux consultation</li>
                    </ol>
                {% endif %}
                
                 
            </div>
            <div class="col-sm-6">
                <span class="breadcrumb float-sm-right">
                    {% if adherent is null %}
                        <a href="{{path('consultation.list')}}" class="float-right btn btn-primary">Retour</a>
                    {% else %}
                        <a href="{{path('adherent.list')}}" class="float-right btn btn-primary">Retour</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
	<!-- Horizontal Form -->
	<div class="card card-info">
		{# <div class="card-header">
			<h3 class="card-title">Ajouter les informations</h3>
		</div> #}
		<!-- /.card-header -->
		<!-- form start -->
		<div class="card-body">
            {% if checkLastConsultation is null or checkLastConsultation is empty %}

            {% else %}
                {% if adherent is not null %}
                
                    {% if lastConsultation <= 15 %}
                        <div class="alert alert-warning  alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-ban"></i> Information!</h5>
                        {{adherent.firstname}} {{adherent.lastname}} a passer son dernier consultation le
                        {{checkLastConsultation[0].created|date('d-F-Y')}} , c'est à dire dans les
                        2 derniers semaines d'ajourd'hui. 
                        </div>
                    {% endif %}
                {% endif %}

            {% endif %}
            
            {% include "admin/consultation/components/_formAddConsultation.html.twig" %}
            
		</div>
	</div>
	<!-- /.card -->
{% endblock %}
{% block javascripts %}
    {{ include('admin/components/block/blockjs.ckeditor.html.twig', {'textarea_id': 'consultation_description' }) }}
	{{ include('admin/components/block/blockjs.datatable.html.twig', { 'table_id': 'listPositions', 'targets': 4 }) }}
    <script src="{{ asset('foAsset/fileinputmaster/js/plugins/piexif.js') }}" type="text/javascript"></script>
    <script src="{{ asset('foAsset/fileinputmaster/js/plugins/sortable.js') }}" type="text/javascript"></script>
    <script src="{{ asset('foAsset/fileinputmaster/js/fileinput.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('foAsset/fileinputmaster/js/locales/fr.js') }}" type="text/javascript"></script>
    <script src="{{ asset('foAsset/fileinputmaster/js/locales/fr.js') }}" type="text/javascript"></script>
    <script src="{{ asset('foAsset/fileinputmaster/themes/fas/theme.js') }}" type="text/javascript"></script>
    <script src="{{asset('foAsset/select2/dist/js/select2.full.js')}}"></script>

    <script type="text/javascript">
        $(document).on('change', '#consultation_infos_establishment', function(){
            let $field = $(this)
            let $establishmentField = $('#consultation_infos_establishment')
            let $form = $field.closest('form')
            let target = '#' + $field.attr('id').replace('establishment','position')
            let target1 = '#' + $field.attr('id').replace('establishment','adherent')//change
            let data = {}
            data[$establishmentField.attr('name')] = $establishmentField.val()
            data[$field.attr('name')] = $field.val()
            console.log(data[$field.attr('name')])
            $.post($form.attr('action'), data).then(function(data){
                let $input = $(data).find(target)
                let $input1 = $(data).find(target1)
                $(target).replaceWith($input)
                $(target1).replaceWith($input1)
            })
        })

        $('#diagnostic').change(function() {
            $('.div-container-loader').fadeIn(0);

            var idDiagnostic = $("#diagnostic").val();
            $.ajax({
                type: 'GET',
                url: '{{ path("consultation.diagnostic.description") }}',
                data: {
                    'idDiagnostic': idDiagnostic
                },
                success: function (data) {
                    var subjects = $('#diagnosticDescription');
                    subjects.empty();
                    if (data.empty) {
                        subjects.append('<option value="" disabled selected>Pas de description</option>');
                    }
                    
                    //for (var i = 0; i < data.length; i++) {
                        //subjects.append('<option value=' + data[i].id + '>' + data[i].name + '</option>');
                    else{
                       
                        subjects.append("  <div class='col-lg-12 col-md-12 col-sm-12' > <h6 class='title'>Description</h6><span class='alert alert-danger'>" + data.description + "</span> <br><br></div>" );
                    
                    }
                    //}

                    subjects.change();

                    $('.div-container-loader').fadeOut(300);
                },
                error: function() {
                    $('.div-container-loader').fadeOut(300);
                    alert("Erreur!");
                }
            });

        });

        $('#adherent_family_avatarFile_file').fileinput({
            theme: 'fas',
            language: 'fr',
            uploadUrl: '',
            allowedFileExtensions: ['jpeg', 'jpg', 'png', 'JPEG' , 'JPG' , 'PNG' ],
            showUpload: false,
            showCaption: true,
            showCancel: true,
            showUploadedThumbs: true,
            showRemove: true,
            showPreview: true,
            maxFileSize: 80000 ,
        });

    </script>
        
    <script>

        $(document).ready(function() {
            
            var counter = 0;
            $(".newMedecine").unbind('click').bind('click', function(){
                counter++;
                console.log(counter);
                var element = $('#prescriptionForm').clone().val("") ;
                
                element.find("span.select2").remove();
                element.find("select").select2();
                var deleteMedecine =  $('<button/>',
                {
                    text: 'Supprimer',
                    id: 'deleteMedecineForm'+counter,
                    class: 'btn btn-danger',
                    value: counter,
                    style: "margin-top:-20px; margin-bottom:10px;",
                    click: function(){
                            $("#prescriptionForm"+$(this).val()).remove();
                        }
                });
                
                var newForm = element.attr("id", "prescriptionForm" + counter) ;
                newForm = newForm.append(deleteMedecine);

                $(newForm).appendTo('#content');
            });
            
            $("#deleteMedecineForm"+counter).unbind('click').bind('click', function(){
                console.log(counter);
                //counter--;
                $("#content #prescriptionForm"+counter).remove();
            });

            $('.diagnostic').select2();
            $('.drugSelect').select2();
        });   

        $('#typeConsultation').change(function() {
            $('.div-container-loader').fadeIn(0);

            var typeConsultation = $("#typeConsultation").val();
            $.ajax({
                type: 'GET',
                url: '{{ path("consultation.diagnostictype") }}',
                data: {
                    'typeConsultation': typeConsultation
                },
                success: function (data) {
                    var diagnostic = $('#diagnostic');
                    diagnostic.empty();
					diagnostic.append('<option value="" disabled selected>Liste des diagnostiques</option>');
                    for (var i = 0; i < data.length; i++) {
                        diagnostic.append('<option value=' + data[i].id + '>' + data[i].name + '</option>');
                    }

                    diagnostic.change();

                    $('.div-container-loader').fadeOut(300);
                },
                error: function() {
                    $('.div-container-loader').fadeOut(300);
                    alert("Erreur!");
                }
            });

    });


    </script>
{% endblock %}