{% extends 'admin/base.html.twig' %}

{% if type == "all" %}  
    {% set pageAll = "" %}
{% endif %}
{% if type == "undelivered"  %}
    {% set pageUndelivered = "" %}
{% endif %}
{% if type == "delivered" %}
    {% set pageDelivered = "" %}
{% endif %}

{% block title %}Hello PositionController!{% endblock %}
{% block stylesheets %}
    
{% endblock %}

{% block body %}

<section class="content-header" id="content-load">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item active">listes des consultations</li>
                </ol>
            </div>

            {% if "ROLE_MEDC" in app.user.roles  %}
                <div class="col-sm-6">
                    <span class="breadcrumb float-sm-right">
                        <a href="{{path('consultation.add.simple')}}" class="float-right btn btn-primary">Nouveaux consultation simple</a>
                    </span>
                </div>
            {% endif %}
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card ">
    <div class="card-header">
        <h10 class="">
            <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">

              <li class="nav-item">
                <a class="nav-link {% if pageUndelivered is defined %} active {% endif %} " href="{{path('consultation.list.consult' , {"type": "undelivered"})}}" id="custom-content-above-profile-tab"  href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Les Consultations non Livrés</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if pageDelivered is defined %} active {% endif %}" href="{{path('consultation.list.consult' , {"type": "delivered"})}}" id="custom-content-above-messages-tab"  href="#custom-content-above-messages" role="tab" aria-controls="custom-content-above-messages" aria-selected="false">Les Consultations Livrés</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if pageAll is defined %} active {% endif %}" href="{{path('consultation.list.consult' , {"type": "all"})}}" id="custom-content-above-home-tab"  href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Tous les consultations</a>
              </li>

            </ul>

        </h10>

        <h3 class="card-title">
            {{title}}
        </h3>
        
    </div>
    <!-- /.card-header -->
    <div class="card-body">
            <div class="tab-custom-content">
            
            </div>
            <div class="tab-content" id="custom-content-above-tabContent">
                <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                    {# {% set datas = decode_json(render(controller('App\\Controller\\admin\\ConsultationController::jsonResponseConsultation' ))) %} #}
                    {# 
                        All Consultations
                     #}
                    
                    <table id="listConsultations" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Adherent</th>
                                <th>Type</th>
                                <th>Statut pharmaceutique</th>
                                {# <th>Préscription</th> #}
                                <th>Action nécessaire</th>
                            </tr>
                        </thead>
                            
                        <tbody>
                        
                        {% for consultation in consultations %}
                            <tr>
                                {% if consultation.adherent is null %}
                                    <td>{{consultation.name}} {{consultation.firstname}}</td>
                                {% else %}
                                    <td>{{consultation.adherent.lastname}} {{consultation.adherent.firstname}}</td>
                                {% endif %}
                                <td>{{consultation.type}}</td>
                                <td>{{include('admin/components/block/status.html.twig' , {'etat_status' : consultation.status})}}</td>

                                <td>
                                
                                    <a href="{{path('consultation.detail.consult' , {"id":consultation.id})}}" 
                                        class="btn btn-rounded btn-warning" data-toggle="tooltip" data-placement="bottom">
                                        <i class="m-r-10 fas fa-eye"></i>
                                    </a>

                                </td>
                                {# <td>
                                    {% if app.user.roles[0] == "ROLE_DRUG_STORE" %}
                                        {% set file = asset('uploads/pdf/consultation/'~ consultation.filePrescription) %}
                                        
                                        <button class="btn btn-info btn-rounded" onclick="printJS('{{file}}')">
                                            <span class="fas fa-print"></span>
                                        </button>
                                    
                                    {% endif %}
                                    {% if  "ROLE_MEDC" in app.user.roles %}
                                        {% set file = asset('uploads/pdf/consultation/'~ consultation.filePrescription) %}
                                        
                                        <button class="btn btn-info btn-rounded" onclick="printJS('{{file}}')">
                                            <span class="fas fa-print"></span>
                                        </button>
                                    {% endif %}

                                    <button class="btn btn-secondary btn-rounded" data-toggle="collapse" data-target="#demo{{consultation.id}}"><span class="fas fa-eye"></span></button> #}

                                    {# <div id="demo{{consultation.id}}" class="collapse">
                                        <table id="DivIdToPrint{{consultation.id}}">
                                            <thead>
                                                <th>Nom</th>
                                                <th>Nombre de jour</th>
                                                <th>Matin</th>
                                                <th>Midi</th>
                                                <th>Soir</th> 
                                                <th>Total</th>
                                            </thead>

                                            <tbody>
                                                {% for prescription in consultation.prescription %}
                                                    <tr>
                                                        <th>{{prescription.drugName.name}}</th>
                                                        <td>{{prescription.numberOfDayPrescribed}}</td>
                                                        <td>{{prescription.morning}} {{prescription.drugName.measure}}</td>
                                                        <td>{{prescription.noon}} {{prescription.drugName.measure}}</td>
                                                        <td>{{prescription.evening}} {{prescription.drugName.measure}}</td>
                                                        <td>{{prescription.totalDrugs}} {{prescription.drugName.measure}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>

                                            <tfoot>

                                                <tr>
                                                    <td>
                                                        <a href="{{path('consultation.validate',{"id": consultation.id})}}" class="btn btn-success">Validez</a>
                                                    </td>
                                                    <td>
                                                       
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div> #}
                                {# </td> #}
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                    </table>

                </div>

            </div>
        
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}
{% block javascripts %}
    {{ include('admin/components/block/blockjs.datatable.html.twig', { 'table_id': 'listConsultations', 'targets': 3 }) }}
    {{ include('admin/components/block/blockjs.datatable.html.twig', { 'table_id': 'listConsultationsLivres', 'targets': 1 }) }}
    {{ include('admin/components/block/blockjs.datatable.html.twig', { 'table_id': 'listConsultationsNonLivres', 'targets': 1 }) }}
{# {{ include('admin/block/blockjs.datatable.html.twig', { 'table_id': 'listPositions', 'targets': 4 }) }} #}
    <script language="javascript" type="text/javascript">
      
       (function printJS(file){
           //console.log(file) ;
           //var fileprint = file ;
            printJS(file);

        })();

         {# function myPrint(){
            printJS("{{asset('uploads/pdf/consultation/Ordonnance-Smisa Gold 11.pdf')}}");
        } #}

        {# $('#printBtn').click(myPrint); #}

        document.onreadystatechange = function () {
        var state = document.readyState
        if (state == 'interactive') {
            document.getElementById('content-load').style.visibility="hidden";
        } else if (state == 'complete') {
            setTimeout(function(){
                document.getElementById('interactive');
                document.getElementById('load').style.visibility="hidden";
                document.getElementById('content-load').style.visibility="visible";
            },1000);
        }
        }

    </script>
{% endblock %}