<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{path('dashboard')}}" class="brand-link">
    
      {# <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" 
           style="opacity: .8"> #}
        <h2 class="brand-image img-circle elevation-3" 
           style="opacity: .8">S</h2>
      <span class="brand-text font-weight-light">Smisa administrator</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
         <li class="nav-header">General</li>
          <li class="nav-item single-menu" >
            <a href="{{path('dashboard')}}" class="nav-link" id="bo-dashboard">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          {% if "ROLE_ADMIN" in app.user.roles %}
           <li class="nav-item single-menu" >
              <a href="{{path('physician.list')}}" class="nav-link" id="bo-physician">
                <i class="nav-icon fa fa-user-md"></i>
                <p>
                  Medecin
                  {# <span class="right badge badge-danger">New</span> #}
                </p>
              </a>
            </li>
          {% endif %}

          {% if "ROLE_DRUG_STORE" in app.user.roles or "ROLE_ADMIN" in app.user.roles %}


            {# <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-hospital"></i>
              <p>
               Pharmacies
                <i class="fas fa-angle-left right"></i>
                {# <span class="badge badge-info right">6</span> #}
              {# </p>
            </a>
            <ul class="nav nav-treeview" id="bo-drugstore">  #}
            <li class="nav-header">Pharmacie</li>
              <li class="nav-item  single-menu">
                <a href="{{path('drugstore.list')}}" class="nav-link" id="bo-drugstore">
                <i class="nav-icon fas fa-hospital"></i>
                <p>
                  Liste des médicaments
                  {# <span class="right badge badge-danger">New</span> #}
                </p>
              </a>
              </li>

               <li class="nav-item  single-menu">
                <a href="{{path('drugstore.inventory')}}" class="nav-link" id="bo-drugstore-inventory">
                  <i class="nav-icon fas fa-book"></i>
                  <p>Inventaires</p>
                </a>
              </li>
            {# </ul>
          </li> #}


            {# <li class="nav-item single-menu" >
              <a href="{{path('drugstore.list')}}" class="nav-link" id="bo-drugstore">
                <i class="nav-icon fas fa-hospital"></i>
                <p>
                  Pharmacie
                  {# <span class="right badge badge-danger">New</span> #}
                {# </p>
              </a>
            </li>  #}

          {% endif %}

          {% if "ROLE_ADMIN" in app.user.roles or "ROLE_HOME_ACCOUNT" in app.user.roles %}
          <li class="nav-header">Societés</li>
            <li class="nav-item single-menu" >
              <a href="{{path('position.list')}}" class="nav-link" id="bo-position">
                <i class="nav-icon fas fa-barcode"></i>
                <p>
                  Poste
                  {# <span class="right badge badge-danger">New</span> #}
                </p>
              </a>
            </li>

            <li class="nav-item single-menu" >
              <a href="{{path('establishement.list')}}" class="nav-link" id="bo-establishement">
                <i class="nav-icon far fa-plus-square"></i>
                <p>
                  Etablissement
                  {# <span class="right badge badge-danger">New</span> #}
                </p>
              </a>
            </li>

           {% endif %}

          {% if "ROLE_ADMIN" in app.user.roles or "ROLE_MEDC" in app.user.roles or "ROLE_INF" in app.user.roles or "ROLE_HOME_ACCOUNT" in app.user.roles  %}
            <li class="nav-item single-menu" >
              <a href="{{path('adherent.list')}}" class="nav-link" id="bo-adherents">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Adherents
                  {# <span class="right badge badge-danger">New</span> #}
                </p>
              </a>
            </li>
          {% endif %}

          {% if "ROLE_ADMIN" in app.user.roles or "ROLE_MEDC" in app.user.roles or "ROLE_INF" in app.user.roles %}  
          <li class="nav-header">Maladie</li>
            <li class="nav-item single-menu" >
              <a href="{{path('diagnostic.list')}}" class="nav-link" id="bo-diagnostic">
                <i class="nav-icon fa fa-stethoscope"></i>
                <p>
                  Diagnostique
                  {# <span class="right badge badge-danger">New</span> #}
                </p>
              </a>
            </li>

            {# <li class="nav-item single-menu" >
              <a href="{{path('incident.list')}}" class="nav-link" id="bo-incident">
                <i class="nav-icon fa fa-wheelchair"></i>
                <p>
                  Accident de travail
                </p>
              </a>
            </li> #}
{# 
            <li class="nav-item single-menu" >
              <a href="{{path('sick.list')}}" class="nav-link" id="bo-sick">
                <i class="nav-icon fa fa-ambulance"></i>
                <p>
                  Maladie Professionnelle
                </p>
              </a>
            </li> #}

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                  <i class="nav-icon fa fa-wheelchair"></i>
                  <p>
                   Accident de travail
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{{path('incident.lesion.list')}}" class="nav-link" id="bo-incident-list">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Nature de lésions</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{path('incident.list')}}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Listes</p>
                    </a>
                  </li>
                  
                </ul>
            </li>

            <li class="nav-item single-menu" >
              <a href="{{path('toothcare.list')}}" class="nav-link" id="bo-toothcare">
                {# <i class="nav-icon fa-user-dentist"></i> #}
                <i class="nav-icon fas fa-tooth"></i>
                <p>
                  Activités de dentisterie
                  {# <span class="right badge badge-danger">New</span> #}
                </p>
              </a>
            </li>

            {% endif %}
            
            {% if "ROLE_HOME_ACCOUNT" not in app.user.roles  %}
            <li class="nav-header">Medecin</li>
              <li class="nav-item single-menu" >
                <a href="{{path('consultation.list.consult' , {'type':'undelivered'})}}" class="nav-link" id="bo-prescription">
                  <i class="nav-icon fa fa-medkit"></i>
                  <p>
                    Consultations
                  </p>
                </a>
              </li>
              {% if "ROLE_DRUG_STORE" not in app.user.roles %}
              
                <li class="nav-item single-menu" >
                  <a href="{{path('appraisal.index')}}" class="nav-link" id="bo-appraisal">
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>
                      Bilans
                    </p>
                  </a>
                </li>
              {% endif %}
            {% endif %}

            {# <li class="nav-item single-menu" >
              <a href="{{path('databasedump.execute')}}" class="nav-link" id="bo-appraisal">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                  Sauvegarde Journalier
                </p>
              </a>
            </li> #}
          

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>