{% extends 'admin/base.html.twig' %}

{% block title %}Hello PositionController!{% endblock %}

{% block body %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item active">listes des cas de maladie professionnelle</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <span class="breadcrumb float-sm-right">
                    <a href="{{path('sick.add')}}" class="float-right btn btn-primary">Ajouter un nouveau cas de maladie professionnelle</a>
                </span>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card ">
    <div class="card-header">
        <h3 class="card-title">
            <center>Les cas de maladie professionnelle</center>
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="listSicks" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Adherent</th>
                    <th>Caractéristique</th>
                    <th>Circonstance</th>
                    <th>Agent de la maladie</th>
                    <th>Nombre de jour d'arrêt</th>
                </tr>
            </thead>
            <tbody>
            {% for sick in sicks %}
                <tr>
                    <td>{{sick.adherent.lastname}} {{sick.adherent.firstname}}</td>
                    <td>{{sick.characteristic}}</td>
                    <td>{{sick.circumstance}}</td>
                    <td>{{sick.agent}}</td>
                    <td>{{sick.dayOffNumber}}</td>
                    <td>
                            <a href="{{path('sick.edit' , {"id":sick.id})}}" class="btn btn-rounded btn-success" data-toggle="tooltip" data-placement="bottom">
									<i class="m-r-10 fas fa-edit"></i>
								</a>
                        </td>
                </tr>
            {% endfor %}
                
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}
{% block javascripts %}
{{ include('admin/components/block/blockjs.datatable.html.twig', { 'table_id': 'listSicks', 'targets': 4 }) }}
{# {{ include('admin/block/blockjs.datatable.html.twig', { 'table_id': 'listPositions', 'targets': 4 }) }} #}
{% endblock %}