{% extends 'admin/base.html.twig' %}

{% block title %}DashboardController!
{% endblock %}

{% block body %}
	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div
			class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-info">
				<div class="inner">
					<h3>{{establishement}}</h3>

					<p>Etablissement</p>
				</div>
				<div class="icon">
					<i class="ion ion-bag"></i>
				</div>
				<a href="{{path('establishement.list')}}" class="small-box-footer">Plus d'information
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div
			class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-success">
				<div class="inner">
					<h3>{{adherent}}
					</h3>

					<p>Adherents</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
				<a href="{{path('adherent.list')}}" class="small-box-footer">Plus d'information
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div
			class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-warning">
				<div class="inner">
					<h3>{{physician}}</h3>

					<p>Medecin</p>
				</div>
				<div class="icon">
					<i class="ion ion-person-add"></i>
				</div>
				<a href="{{path('physician.list')}}" class="small-box-footer">Plus d'information
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div
			class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-danger">
				<div class="inner">
					<h3>{{drugStores}}</h3>

					<p>Médicaments dans la pharmacie</p>
				</div>
				<div class="icon">
					<i class="ion ion-pie-graph"></i>
				</div>
				<a href="{{path('drugstore.list')}}" class="small-box-footer">Plus d'information
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
	</div>
{% endblock %}
