{{ form_start(formAdherent) }}


<div class="row">
    {% if editMode %}
    <div class="col-lg-3 ">
        {# <img class="col-lg-12 "  src="{{asset('uploads/avatarAdherent/' ~ adherent.avatar )}}"> #}

         {% if adherent.avatar is null %}
            {% set avatar = "default.png" %}
             <img class="col-lg-12 "  src="{{asset('uploads/avatarAdherent/' ~ avatar )}}">
        {% else %}
            {% set avatar = adherent.avatar %}
             <img class="col-lg-12 "  src="{{asset('uploads/avatarAdherent/' ~ avatar )}}">
        {% endif %}

    </div>
    <div class="col-lg-3 ">
        <div class="form-group">
            {{ form_row(formAdherent.avatar) }}
        </div>
    </div>
    {% else %}
    <div class="col-lg-6 " >
        <div class="form-group">
            {{ form_row(formAdherent.avatar) }}
        </div>
    </div>
    {% endif %}
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formAdherent.category) }}
        </div>
        <div class="form-group">
            {{ form_row(formAdherent.lastname) }}
        </div>
        <div class="form-group">
            {{ form_row(formAdherent.firstname) }}
        </div>
         <div class="form-group">
            {{ form_row(formAdherent.birthDay) }}
        </div>
        <div class="form-group">
            {{ form_row(formAdherent.gender) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formAdherent.category) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formAdherent.birthDay) }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formAdherent.gender) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formAdherent.phone) }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formAdherent.address) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formAdherent.establishment , {'class' : 'establishementList' }) }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formAdherent.worker) }}
        </div>
    </div>
</div>

<div class="row"> 
    {% if editMode %}
        <div class="col-lg-6">
            <button type="submit" class="btn btn-success btn-block">Modifier</button>
        </div>
    {% else %}
        <div class="col-lg-6">
            <button type="submit" class="btn btn-info btn-block">Ajouter</button>
        </div>
    {% endif %}
    
    <div class="col-lg-6">
	    <button type="reset" class="btn btn-default btn-block">Reseter</button>
    </div>
</div>


{{ form_end(formAdherent) }}