{% extends 'admin/base.html.twig' %}

{% block title %}Hello PositionController!{% endblock %}

{% block body %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item active">listes adhérents</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <span class="breadcrumb float-sm-left">
                    <a href="{{path('adherent.add', {"type": 'worker'})}}" class="float-right btn btn-primary">Ajouter nouveaux Travailleur</a>
                </span>
                <span class="breadcrumb float-sm-right">
                    <a href="{{path('adherent.add', {"type": 'family'})}}" class="float-right btn btn-primary">Ajouter nouveaux Conjoint/Enfant</a>
                </span>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card ">
    <div class="card-header">
        <h3 class="card-title">
            <center>Listes des adhérents disponibles</center>
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="listAdherents" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénoms</th>
                    <th>Société</th>
                    <th>Ordre du Travailleur</th>
                    <th>N° d'Affiliation</th>
                    <th>Nombre de famille</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for Adherent in listAdherents %}
                <tr>
                    <td>{{Adherent.lastname}}</td>
                    <td>{{Adherent.firstname}}</td>
                    <td>{{Adherent.establishment.name}}</td>
                    <td>
                        {% if Adherent.category == '000' %}
                            Travailleur
                        {% else %}
                            {% if Adherent.category == '001' %}
                                {% if Adherent.gender == 'femme' %}
                                    Conjointe
                                {% else %}
                                    Conjoint        
                                {% endif %}
                            {% else %}
                                Enfant
                            {% endif %}
                            
                        {% endif %}
                    </td>
                    
                    <td>{{Adherent.affiliateNumber}}</td>
                    <td>{{Adherent.affiliateNumber}}</td>
                    {# <td>{{Adherent.category}}</td> #}
                    <td>{{ include('admin/components/block/status.html.twig', { 'etat_status': Adherent.status}) }}</td>
                    <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle " style="min-width: 8rem;" data-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        {# <button type="button" class="btn btn-default dropdown-toggle " style="min-width: 2rem;" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                        </button> #}
                        <ul class="dropdown-menu" style="min-width: 8rem; overflow:top ">

                        {% if Adherent.status == true %}
                            <li>
                                <a href="{{path('adherent.detail' , {"id":Adherent.id})}}" style=" text-decoration: none;text-align: center;" data-toggle="tooltip" data-placement="bottom"><span style="padding-left: 1em;">Detail</span><br/></a>
                            </li>
                            <li>
                                {% if Adherent.category == '000'%}
                                    <a href="{{path('adherent.edit' , {"id":Adherent.id, "type":'worker'})}}" style=" text-decoration: none;text-align: center;" data-toggle="tooltip" data-placement="bottom"><span style="padding-left: 1em;">Modifier</span><br/></a>
                                    {# <a href="{{path('adherent.edit' , {"id":Adherent.id, "type":'worker'})}}" style=" text-decoration: none;text-align: center;" data-toggle="tooltip" data-placement="bottom"><span style="padding-left: 1em;">Ajouter une membre de famille</span><br/></a> #}
                                {% else %}
                                    <a href="{{path('adherent.edit' , {"id":Adherent.id, "type":'family'})}}" style=" text-decoration: none;text-align: center;" data-toggle="tooltip" data-placement="bottom"><span style="padding-left: 1em;">Modifier</span><br/></a>
                                {% endif %}
                            </li>
                            <li>
                                <a href="{{path('adherent.status' , {"id":Adherent.id})}}" style=" text-decoration: none;text-align: center;" data-toggle="tooltip" data-placement="bottom"><span style="padding-left: 1em;">Désactiver</span><br/></a>
                            </li>

                            {% if "ROLE_MEDC" in app.user.roles %}
                            
                                <li>
                                    <a href="{{path('adherent.medicalpath' , {"id":Adherent.id})}}" style=" text-decoration: none;text-align: center;" data-toggle="tooltip" data-placement="bottom"><span style="padding-left: 1em;">Dossier médical</span><br/></a>
                                </li>
                            
                            {% endif %}

                            {% if Adherent.category == '000' %}
                                {# <li>
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ajouter</span></a>
                                    
                                    <ul class="dropdown-menu " x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a class="dropdown-item" href="{{path('adherent.add', {"type": 'family'})}}">famille</a></li>
                                        <li><a class="dropdown-item" href="{{path('toothcare.add', {"adherent": Adherent.id})}}">Dentiste</a></li>
                                        <li><a class="dropdown-item" href="{{path('incident.add',{"adherent": Adherent.id})}}">Accident de travail</a></li>
                                        <li><a class="dropdown-item" href="{{path('sick.add', {"adherent": Adherent.id})}}">Maladie Professionnelle</a></li>
                                        <li><a class="dropdown-item" href="{{path('consultation.addInfos', {"id": Adherent.id})}}">Consultation Médicale</a></li>
                                    </ul>
                                </li> #}
                                <div class="btn-group dropleft">
                                <a href="#" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    Ajouter
                                </a>
                                <div class="dropdown-menu">
                                    {# <ul class="dropdown-menu " x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;"> #}
                                        <a class="dropdown-item" href="{{path('adherent.add', {"type": 'family'})}}">famille</a>
                                        <a class="dropdown-item" href="{{path('consultation.add', {"id": Adherent.id})}}">Consultation</a>
                                        {% if Adherent.category == '000' %}
                                            <a class="dropdown-item" href="{{path('incident.add', {"id": Adherent.id})}}">Accident de travail</a>
                                        {% endif %}
                                        
                                    {# </ul> #}
                                </div>
                            </div>
                            {% else %}
                                <li>
                                <div class="btn-group dropleft">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true" style=" text-decoration: none;text-align: center;"><span style="padding-left: 1em;">
                                        Ajouter</span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{path('consultation.add', {"id": Adherent.id})}}">Consultation Médicale</a>

                                    </ul>
                                </li>
                            {% endif %}
                            
                            
                        {% else %}
                                <a href="{{path('adherent.status' , {"id":Adherent.id})}}" style=" text-decoration: none;text-align: center;" data-toggle="tooltip" data-placement="bottom"><span style="padding-left: 1em;">Activer</span><br/></a>
                        {% endif %}
                        </ul>
                    </div>
                    
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}
{% block javascripts %}
{{ include('admin/components/block/blockjs.datatable.html.twig', { 'table_id': 'listAdherents', 'targets': 4 }) }}
{# {{ include('admin/block/blockjs.datatable.html.twig', { 'table_id': 'listPositions', 'targets': 4 }) }} #}
{% endblock %}